<form class="textarea-form">
  <mat-form-field class="textarea-full-width">
    <mat-label>Email</mat-label>
    <textarea class="textarea-main" type="text" matInput="" [formControl]="textFormControl"
      placeholder="select * from ...">
      </textarea>
    <mat-error *ngIf="textFormControl.hasError('text') && !textFormControl.hasError('required')">
      Please enter a valid sql
    </mat-error>
    <mat-error *ngIf="textFormControl.hasError('required')">
      sql is <strong>required</strong>
    </mat-error>
  </mat-form-field>
</form>