<div class="virtual-scroll-container">
  <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding cdkTreeNodePaddingIndent="24">
      {{ node.name }}
    </cdk-tree-node>
    <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding cdkTreeNodePaddingIndent="24">
      <button cdkTreeNodeToggle>
        {{ treeControl.isExpanded(node) ? '-' : '+' }}
      </button>
      {{ node.name }}
    </cdk-tree-node>
  </cdk-tree>
</div>